<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width">
<script src="client_script.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<title>Workforce Schedule</title>
</head>

<body>	
	<H1>Workforce Schedule</h1>
	<hr><hr>
	
	<%= data.response %>
	
</body>
</html>