<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<title>Workforce Schedule</title>
</head>

<body>	

	<div id="mySidenav" class="sidenav">
		<span class="sidetext">
			<form method ="get" action="/logout">
				<input type="submit" value ="Logout">
			</form>
			<br>
			<form method ="get" action="/">
				<input type="submit" value ="Home">
			</form>
		</span>
	</div>	
	<div id="main" class="main">
	
		
			<H1>Workforce Schedule</h1>
		
		<div id="content" class="content">
			<hr><hr>
			Welcome: <%- data.user %>
			<br><br>
			<form method = "post" action="/employees">
				<input type="submit" value="List Employees"><br><br>
			</form>
			<form method = "post" action="/schedule_date">
				<input type="submit" value="View Schedule">&nbsp &nbsp &nbsp 
				<input type="date" name="date">
				<br><br>
			</form>
			<form method = "get" action="/newemployee">
				<input type="submit" value="Create New Employee">&nbsp &nbsp &nbsp 
				<br><br>
			</form>
		</div>
	</div>
	
</body>
</html>