<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<title>Workforce Schedule</title>
</head>

<body>
		
	<div id="mySidenav" class="sidenav">
		<span class="sidetext">
			<form method ="get" action="/logout">
				<input type="submit" value ="Logout">
			</form>
			<br>
			<form method ="get" action="/">
				<input type="submit" value ="Home">
			</form>
		</span>
	</div>	
		<div id="main" class="main">
	
			<H1>Workforce Schedule</h1>
		
			<div id="content" class="content">
			<br><br>
			Names Removed
			<br><br>
			<form method ="get" action="/">
				<input type="submit" value ="Return to Menu">
			</form>
			
			<form method = "post" action="/schedule_date">
				<input type="submit" value="View Schedule">&nbsp &nbsp &nbsp 
				<input type="date" name="date">
				<br><br>
			</form>
			
			</div>
		</div>
		
		
</body>
</html>