<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width">


<title>Workforce Schedule</title>
</head>

<body>	
	<H1>Workforce Schedule</h1>
	<hr><hr>
	<h3>Schedule for: <%= data.date%></h3>
	<br> 
	<br>
	Opening<br>
	10:00 AM 
	<%- data.response %>
	
</body>
</html>